.navbar-brand-image {
  width: 30px;
  height: 30px;
  object-fit: cover;
  }

.navbar-nav {
  text-align: center;
  background-color: rgba(253, 253, 253, 0.178);
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: bolder;

}

.bg-dark {
  background-color: rgb(249, 236, 72)!important;
  
}

.nav-item:hover {
  background-color: rgba(119, 114, 165, 0.288);
  }

.banner-image {
  height: 500px;
  background-size: cover;
  }

.banner-text {
    text-align: left;
    font-family: 'Lobster', cursive;
    font-size: 5rem;
    font-weight: lighter;
  }

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  
  .carousel-inner img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

 



.map-container-5{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  width: 100%;
  }

  .map-container-5 iframe{
  left:0;
  top:0;
  height:100%;
  width: 100%;
  position:absolute;
  padding: 2%;
  }

  

.center {

  vertical-align: middle;
}

a {

  color:black!important;
  text-decoration: none;
}


/*FOTOS*/

.featurette-divider {
  margin-top: 5%;
  }

.title{
  color: #423d3d;
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 2%;
  }

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 600px;
  height: 350px;
  max-height: 100%;
  object-fit: cover;
  padding: 2%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
  }

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  }

.content-details p{
  color: #fff;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  }

.fadeIn-top {
  top: 20%;
  }

.icons-v {

  height: 5rem;
}

.icons-h {

  height: 5rem;
}




.bg-image-miradores {
  background-image: url('../img/Banner1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
  }

  subtitle{
    color: #423d3d;
    font-family: 'Lobster', cursive;
    font-size: 1rem;
    text-align: center;
    padding-bottom: 2%;
    }

.bg-image-ascensores{
  background-image: url('../img/ascensor.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
}




